.ListFilm {
    text-align: left;
  }

.barreFiltres {
  /* background-color: lightgray; */
  width: 100%;
  min-height: 42px;
  padding: 5px 0px 0px 2px;
}

.tagsListe {
  position: absolute;
  bottom: 67px;
  left: 0;
  right: 0;
  background-color: #616161;
  padding: 3px 0 3px 11px;
}